<div class="container content">
  <div class="row my-2 justify-content-center">
    <h2 class="text-center my-3">Crie uma nova conta</h2>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do
            |f| %>
            <%= render "devise/shared/error_messages" , resource: resource %>

              <div class="mb-3">
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" , required: true,
                    class: "form-control", placeholder:"Nome" %>
              </div>

              <div class="mb-3">
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" , required: true,
                    class: "form-control", placeholder:"Sobrenome" %>
              </div>

              <div class="mb-3">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control", placeholder: "E-mail" %>
              </div>

              <div class="mb-3">
                  <% if @minimum_password_length %>
                    <em>(Mínimo de caracteres: <%= @minimum_password_length %>)</em>
                    <% end %><br />
                      <%= f.password_field :password, autocomplete: "new-password" , class: "form-control", placeholder: "Senha" %>
              </div>

              <div class="mb-3">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control", placeholder: "Confirme sua senha" %>
              </div>

              <div class="mb-3">
                <label for="InputGender" class="form-label">Gênero</label><br />
                  <%= f.select :gender, options_for_select(["Masculino","Feminino","Outro"]), {prompt: "Selecione" }, {
                    class: "form-select" } %>
              </div>

              <div class="mb-3">
                <label for="InputBirthDate" class="form-label">Data de nascimento</label><br />
                  <%= f.date_field :birthdate, required: true, class: "form-control" %>
              </div>

              <%= f.submit "Cadastre-se" , class: "btn btn-secondary mb-3" %>
                <% end %>
                  <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>