<div class="container content">
  <div class="row my-2 justify-content-center">
    <h2 class="text-center my-3">Esqueceu a senha?</h2>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            %>
            <%= render "devise/shared/error_messages" , resource: resource %>

              <div class="mb-3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" ,
                  placeholder: "E-mail" %>
              </div>

              <div class="actions mb-3">
                <%= f.submit "Enviar instruções" , class: "btn btn-primary" %>
              </div>
              <% end %>
              <hr>
                <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>