<div id="<%= dom_id post %>">
 <td><%= post.title %></td>
  <td><%= post.content %></td>
  <td><%= link_to "Show" , post, class:"btn btn-info" %></td>
  <td><%= link_to "Edit" , edit_friend_path(post), class:"btn btn-secondary" %></td>
  <td><%= link_to "Destroy", post, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
 </div>
